body{
    background-color: rgb(74, 199, 236);
}
.navbar{
text-align: center;
font-size: 20px;
}

.Camera{
    margin-right: 8px;
    padding: 5px;
    text-decoration: none;
    background-color: rgb(21, 177, 7);
    border-radius: 10px;
    font-size: 40px;
}
.Video{
    margin-left: 8px;
    padding: 5px;
    text-decoration: none;
    background-color: rgb(255, 174, 0);
    border-radius: 10px;
    font-size: 40px;
}
.webcam{
   margin-top: 50px;
   display: flex;
   justify-content: center;
}
.capture:hover{
background-color: rgb(240, 99, 99);
font-size: medium;
}
.download:hover{
    background-color: rgb(223, 99, 240); 
    font-size: medium;
}